/* CSS Vars */

:root {
    --button-blue: hwb(210 25% 33%);
    --button-blue-hover: hwb(210 19% 44%);
}


/* Page */

html, body, #root {
    height: 100%;
    min-height: 100% !important;
    background-color: var(--bs-gray-200); 
    overflow-x: hidden;
}




/* Nav */

.sticky-top {
    position: sticky;
}

.banner-bg {
    background-color: lightgoldenrodyellow; 
}


.big8-bg {
    background-color: var(--bs-gray-100); 
}



.header-logo {
    width: 450px; 
    cursor: pointer;
}

.nav-bg-color-dk {
    background-color: #001d3c;
}

.nav-bg-color, .schedule-entry-button, .track-name-bg-color {
    background-color: #013369;
}

.hover-nav-font-change, .schedule-entry-button, .track-name-color {
    color: var(--bs-white)
}

.schedule-entry-button:hover {
    opacity: 80%;
    cursor: pointer;
}


.hover-nav-font-change:hover {
    color: var(--bs-gray-500)
}

.underline-hover {
    border-bottom: 2px solid #013369; 
}

.underline-hover:hover {
    border-bottom: 2px solid white;
    color: var(--bs-white);
    cursor: pointer;
}

/* Home */

.carousel-inner img {
    margin: auto;
  }

.live-stream-planned {
    background-color: #013369; 
    padding: 5px;
    border-radius: 5px;
    color: white; 
    font-weight: bold;
}

/* Schedule */

.circuit-selected, .contest-selected {
    background-color: var(--button-blue);
    color: var(--bs-white)
}

.circuit-not-selected:hover, .contest-not-selected:hover {
    background-color: var(--button-blue-hover);
    color: var(--bs-white);
}



.schedule-entry-tournament-track, .circuit-selected, .circuit-not-selected, .contest-selected, .contest-not-selected {
    cursor: pointer;
}

.schedule-entry-tournament-circuit-nassau, 
.schedule-entry-tournament-circuit-northern, 
.schedule-entry-tournament-circuit-suffolk,
.schedule-entry-tournament-circuit-western,
.schedule-entry-tournament-circuit-oldfashioned,
.schedule-entry-tournament-circuit-junior {
    background-color: var(--bs-gray-700);
    width: 40px;
    color: var(--bs-white);
    user-select: none;
}

.circuit-inactive {
    opacity: 30%;
}

.track-info-icon {
    opacity: 80%;
}

.video-icon {
    cursor: pointer;
    min-width: 50px;
}

.video-icon > a {
    color: #013369; 
}

.video-icon-nolink {
    min-width: 50px;
    color: #013369; 
}

/* Tournament */

.video-links, .map-location-links {
    text-decoration: none;
    color: #013369;
}

.scorecard-type, .big8-contest, .past-tourn-entry {
    cursor: pointer;
}

.scorecard-table-wrapper {
    overflow-x: scroll;
}

.scorecard-cell-lg {
    min-width: 160px;
}

.scorecard-cell-md {
    min-width: 120px;
}

.scorecard-cell-sm {
    min-width: 40px;
}

table {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid black;
  }

  table td,
  table th {
    border: 1px solid black;
    /* padding: 0.5rem 1rem; */
  }
  table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
  }
  table td {
    background: #fff;
    text-align: center;
  }
  
  table tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
  }
  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
  }

  .scorecard-video-link-parent {
    position: relative; 
  }

  .scorecard-video-link {
    position: absolute;
    left: 40px;
  }


/* Track */ 
.track-img-height {
    min-height: 500px; 
    height: 100%; 
}

/* General */

.font-xx-small {
    font-size: xx-small;
}

.font-x-small {
    font-size: x-small;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

.font-xxx-large {
    font-size: xxx-large;
}

.break-spaces {
    white-space: break-spaces;
}
