/* CSS Vars */

:root {
    --button-blue: hwb(210 25% 33%);
    --button-blue-hover: hwb(210 19% 44%);
    --nav-bg-dk: #001d3c; 
    --nav-bg: #013369; 
    --total-points-bg: hwb(210 66% 3%); 
}


/* Page */

html, body, #root {
    height: 100%;
    min-height: 100% !important;
    background-color: var(--bs-gray-200); 
    overflow-x: hidden;
}




/* Nav */

.sticky-top {
    position: sticky;
}

.banner-bg {
    background-color: lightgoldenrodyellow; 
}


.big8-bg, .champs-bg, .nav-dropdown {
    background-color: var(--bs-gray-100); 
}

.champs-bg {
    height: 300px;
}

.header-logo {
    max-width: 450px; 
    cursor: pointer;
}

.nav-bg-color-dk {
    background-color: var(--nav-bg-dk)
}

.nav-bg-color, .schedule-entry-button, .track-name-bg-color, .login-button, .add-entry-button, .bg-searchpill-dark, .submit-search-button {
    background-color: var(--nav-bg);
}

.hover-nav-font-change, .schedule-entry-button, .track-name-color, .login-button, .login-button:hover, .add-entry-button, .add-entry-button:hover, .submit-search-button {
    color: var(--bs-white)
}

.schedule-entry-button:hover, .login-button:hover, .add-entry-button:hover, .submit-search-button:hover {
    opacity: 80%;
    cursor: pointer;
}


.hover-nav-font-change:hover {
    color: var(--bs-gray-500)
}

.underline-hover {
    border-bottom: 2px solid var(--nav-bg)
}

.underline-hover:hover {
    border-bottom: 2px solid white;
    color: var(--bs-white);
    cursor: pointer;
}

.banner a, .banner a:hover .banner a:visited {
    color: var(--bs-gray-500)
}

.dropdown-pos-top {
    top: 62px; 
    z-index: 999;
}

/* Footer */

.content {
    padding-bottom: 80px;
}

.footer {
    background-color: var(--bs-gray-100); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    height: 80px; 
}

.underline-hover-ft {
    border-bottom: 2px solid var(--bs-gray-600)
}

.underline-hover-ft:hover {
    border-bottom: 2px solid var(--nav-bg-dk);
    color: var(--nav-bg-dk);
    cursor: pointer;
}



/* Home */

.carousel-inner img {
    margin: auto;
  }

.live-stream-planned {
    background-color: var(--nav-bg); 
    padding: 5px;
    border-radius: 5px;
    color: white; 
    font-weight: bold;
}

/* Schedule */

.circuit-selected, .contest-selected {
    background-color: var(--button-blue);
    color: var(--bs-white)
}

.circuit-not-selected:hover, .contest-not-selected:hover {
    background-color: var(--button-blue-hover);
    color: var(--bs-white);
}



.schedule-entry-tournament-track, .circuit-selected, .circuit-not-selected, .contest-selected, .contest-not-selected {
    cursor: pointer;
}

.cursor-default { 
    cursor: default; 
}

.circuit-inactive {
    opacity: 30%;
}

.track-info-icon {
    opacity: 80%;
}

.video-icon {
    cursor: pointer;
    min-width: 50px;
}

.video-icon > a {
    color: var(--nav-bg)
}

.filter-icon-bg, .filter-icon-bg:hover {
    background-color: white;
    color: var(--nav-bg); 
    border-radius: 25px;
}

.filter-submit {
    background-color: var(--nav-bg); 
    color: white; 
}

.filter-submit:hover {
    opacity: 80%;
    color: white; 
}

.video-icon-nolink {
    min-width: 50px;
    color: var(--nav-bg)
}

/* Tournament */

.video-links, .map-location-links, .crud-links, .filter-next, .nav-dropdown-link {
    text-decoration: none;
    color: var(--nav-bg)
}

.filter-next {
    border-radius: 5px;
    padding: 5px;
}

.filter-next:hover {
    color: var(--nav-bg-dk); 
    background-color: var(--bs-gray-100); 
    border-radius: 5px;
    padding: 5px;
}

.current-record {
    color: gold; 
}

.former-record {
    color: goldenrod; 
}

.scorecard-type, .past-tourn-entry {
    cursor: pointer;
}

.scorecard-table-wrapper {
    overflow-x: scroll;
}

.scorecard-cell-lg {
    min-width: 160px;
}

.scorecard-cell-md {
    min-width: 120px;
}

.scorecard-cell-sm {
    min-width: 40px;
}

.table-results {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid black;
  }

  .table-results td,
  .table-results th {
    border: 1px solid black;
    /* padding: 0.5rem 1rem; */
  }
  .table-results thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
  }
  .table-results td {
    background: #fff;
    text-align: center;
  }
  
  .table-results tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
  }
  .table-results thead th:first-child, 
  .other-tables thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  .table-results tbody th, 
  .other-tables tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
  }

/* Track */ 
.track-img-height {
    min-height: 500px; 
    height: 100%; 
}

/* Past Season */
.bg-lightgray {
    background-color: var(--bs-gray-300);
}



/* Run Search */
.filter-bg {
    background-color: var(--bs-gray-200);
}

.min-loading-height {
    min-height: 600px;
}

.search-select:not(:focus) option:checked {
    background: var(--bs-gray-200);
}

.search-select-blank:not(:focus) option:checked {
    background: white;
}

.clear-search-button {
    background-color: var(--button-blue); 
    color: white; 
}

.clear-search-button:hover {
    opacity: 80%;
    cursor: pointer;
}

.custom-tooltip {
    background-color: white;
    color: black; 
    padding: 4px; 
    border-radius: 4px;
    border: 1px solid black; 
    font-size: x-small;
}


/* Login */

.login-input {
    padding: 12px 20px;
    border: 2px solid gray;
    border-radius: 4px;
}

.login-input:focus {
    background-color: aliceblue;
    border: 2px solid black;
}

/* Admin */

.content-box {
    background-color: white;
    border-radius: 4px;
}

.pointer {
    cursor: pointer; 
}

/* Broadcast */

.broadcast {
    padding: 100px;
    padding-top: 300px; 
    padding-bottom: 300px;  
    background-color: #00ff00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
    color: white; 
}


/* General */

.font-xx-small {
    font-size: xx-small;
}

.font-x-small {
    font-size: x-small;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-xx-large {
    font-size: xx-large;
}

.font-xxx-large {
    font-size: xxx-large;
}

.break-spaces {
    white-space: break-spaces;
}

.year-count-width, .admin-btn {
    min-width: 250px;
}

.width-100 {
    width: 100%; 
}

.width-50 {
    width: 50%; 
}

.width-60px {
    width: 100px; 
}

.width-15 {
    width: 40px; 
}

.image-wrap-sm {
    width: 50px; 
    height: 50px; 
}

.image-wrap-md {
    width: 100px; 
    height: 100px; 
}

.image-wrap-lg {
    width: 150px; 
    height: 150px; 
}

.fluid-width {
    max-height: 100%; 
    width: auto
}

.width-8 {
    width: 25px; 
}

.some-height {
    height: 400px; 
}

.height-70 {
    height: 70px; 
}

.minheight-10 {
    min-height: 10px;
}


.pill {
    background-color: var(--button-blue); 
    color: white; 
    font-weight: 400;
    border-radius: 5px; 
    padding: 5px; 
}

  .accordion-button:not(.collapsed) {
    color: #FFF  !important;
    background-color: var(--button-blue) !important;
  }